{include "INC_header.html" title=lang('admin.title')}
<div class="App">
    <div class="app-header">
        <div class="logo" style="background: none;padding-left: 0;">管理员后台</div>
        <div class="links">
            <a class="ui button basic">管理员：{$me.username}</a>
            <a class="ui button basic" href="{$domain.web_url}" target="_blank"><i class="icon world"></i>网站入口</a>
            <a class="ui button basic" onclick="exit()" target="_blank"><i class="icon sign out"></i>退出登录</a>
        </div>
    </div>
    <!-- 左边菜单 -->
    <div class="app-menus">
        <div class="menu-header">管理菜单</div>
        <div class="ui accordion" id="index-menus">
            {foreach $menus as $m}
            <div class="title waves-effect waves-block{if $m@first} active{/if}"><i class="{$m.icon} icon"></i> {$m.name}</div>
            <div class="content{if $m@first} active{/if}">
                {foreach $m.list as $l}
                <a class="waves-effect waves-block" data-href="{$l.url}" target="mainContent"><i class="{$l.icon} icon"></i> {$l.name}</a>
                {/foreach}
            </div>
            {/foreach}
        </div>
    </div>
    <!-- 右侧frame区 -->
    <div class="app-frame">
        <iframe data-src="user" name="mainContent" id="mainContent" frameborder="0" scrolling="auto" width="100%" height="100%"></iframe>
    </div>
</div>

<script>
    $(function(){
        $("#index-menus a").click(function(){
            var self = $(this);
            if(!self.hasClass('active')){
                $.each($("#index-menus a"), function(i, a){
                    $(a).removeClass('active');
                });
                self.addClass('active');
            }
            TW.showLoading = true;
            TW.Loader.loading("");
        });
    });
    function exit() {
        Modal.confirm('您确定要退出登录吗？', function () {
            TW.location.href = urlParse("index/logout");
        })
    }
</script>
{include "INC_footer.html"}