{include "INC_header.html" title=lang('framework.login title') body_attrs="class='login-body'"}
<div class="login-border">
    <div class="logo">
        <img src="{$domain.assets_url}/framework/images/logo.png">
    </div>
    <div class="hd">{lang('framework.login header')}</div>
    <form class="ui form" data-ajax="true" method="post" data-action="login/submit">
        <div class="field">
            <div class="ui input left icon">
                <i class="icon user"></i>
                <input type="text" maxlength="16" required name="username" placeholder="{lang('framework.fields.account')}">
            </div>
        </div>
        <div class="field">
            <div class="ui input left icon">
                <i class="icon privacy"></i>
                <input type="password" max="128" required name="password" placeholder="{lang('framework.fields.password')}">
            </div>
        </div>
        <div class="field">
            <div class="ui input left icon relative">
                <i class="icon code"></i>
                <input type="text" id="verify_code" maxlength="4" style="text-transform: uppercase;" required name="verify_code" placeholder="{lang('framework.fields.verify')}">
                <img class="verify-code-image" src="/vc" onclick="this.src = '/vc?t=' + Math.random()">
            </div>
        </div>
        <div class="field">
            <button class="ui button fluid basic red waves-effect">{lang('framework.buttons.login')}</button>
        </div>
    </form>
    <script>
        let _ajax_form_callback = (json) => {
            if(json.error){
                $(".verify-code-image").click();
                $("#verify_code").val('');
            }
        };
    </script>
</div>
<canvas id="canvas"></canvas>
<script src="{$domain.assets_url}/lib/h5canvas/lizi.js"></script>
{include "INC_footer.html"}